li:nth-child(4n+1){
	color: #00f;
	-moz-color: #f00;
}

li:nth-child(5n+1){font-size:16px;}
li:nth-child(5n+2){font-size:20px;}
li:nth-child(5n+3){font-size:24px;}
li:nth-child(5n+4){font-size:28px;}
li:nth-child(5n+5){font-size:32px;}

li:first-child{background-color: #ccc;}
li:last-child{background-color: #111;}