@fontface{
	font-family: "Misery",
	src: url(fonts/MiseryLovesCompanyDemo);
	font-weight: bold;
	font-style: normal;
}

p { font-family: "Misery"; font-size: 2em; margin: 1em; padding: 0 5px; }

.p1{
	text-shadow: 0.1em 0.1em 0.2em black;
}