{{#each tweets}}
    <li class="arrow selectable " data-id="{{id}}">
        <div>
            <strong>{{text}}</strong>
            <span class="text tiny opacity">{{user.name}}</span>
        </div>
    </li>
{{/each}}