<section id="twitter-detail" data-transition="slide">
    <header data-back="chevron-left" data-title="Tweet detail">
        <nav class="left">
            <a href="#" data-view-section="back">
                <span class="icon chevron-left"></span>
            </a>
        </nav>
        <span class="title centered">Tweet detail</span>
        <nav class="on-right">
            <a href="#" id="share" data-action="share" class="button theme"><span class="icon share"></span></a>
        </nav>
    </header>

    <article id="twitter-detail" class="active indented scroll">
        <div class="wrapper framed">
            <div class="bg-white indented">
                <div class="row">
                    <h2 class="text bold big left" data-template="title">{{text}}</h2>
                </div>
            </div>
        </div>
    </article>
</section>